<a href="https://colab.research.google.com/github/mssabahi/Python/blob/master/ch_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# List methods
Let's practice list methods!

Let's imagine a situation: you went to the market and filled your baskets (basket1 and basket2) with fruits. You wanted to have one of each kind but realized that some fruits were put in both baskets.

Task 1. Your first task is to remove everything from basket2 that is already present in basket1.

Task 2. After the removal it is reasonable to anticipate that one of the baskets might weigh more compared to the another (all fruit kinds weight the same). Therefore, the second task is to transfer some fruits from a heavier basket to the lighter one to get approximately the same weight/amount of fruits.

In [24]:
ls = list(range(4,16))
no = ls.pop(2) # will remove based on indices and the removed number will be saved in no variable.
ls.remove(15) # will remove the number

ls.insert(2,55) # to add with index

ls, no

([4, 5, 55, 7, 8, 9, 10, 11, 12, 13, 14], 6)

In [25]:
basket1 = ['banana', 'kiwifruits', 'grapefruits', 'apples', 'apricots', 'nectarines', 'oranges', 'peaches', 'pears', 'lemons']
basket2 = ['apples', 'grapes', 'apricots', 'dragonfruits', 'peaches', 'pears', 'limes', 'papaya']

In [26]:
# Remove fruits from basket2 that are present in basket1
for item in basket1:
    if item in basket2:
        basket2.remove(item)

print('Basket 1: ' + str(basket1))
print('Basket 2: ' + str(basket2))

# Transfer fruits from basket1 to basket2
while len(basket1) > len(basket2):
    item_to_transfer = basket1.pop()
    basket2.append(item_to_transfer)

print('Basket 1: ' + str(basket1))
print('Basket 2: ' + str(basket2))

Basket 1: ['banana', 'kiwifruits', 'grapefruits', 'apples', 'apricots', 'nectarines', 'oranges', 'peaches', 'pears', 'lemons']
Basket 2: ['grapes', 'dragonfruits', 'limes', 'papaya']
Basket 1: ['banana', 'kiwifruits', 'grapefruits', 'apples', 'apricots', 'nectarines', 'oranges']
Basket 2: ['grapes', 'dragonfruits', 'limes', 'papaya', 'lemons', 'pears', 'peaches']

In [27]:
A = {1, 2, 3, 4, 5, 6, 7}
B = {5, 7, 9, 11, 13, 15}
C = {1, 2, 8, 10, 11, 12, 13, 14, 15, 16, 17}
D = {1, 3, 5, 7, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
E = {9, 10, 11, 12, 13, 14, 15}

A.union(B.intersection(C))-(D.intersection(C))

{2, 3, 4, 5, 6, 7}

# Storing data in a dictionary

It can be described by the following equation:
 X^2/a+Y^2/b=z
 
Let's set the coefficient  to 1. Therefore, the radius at each cut will be equal to root(z)

Your task is to create a dictionary that stores the mapping from the pair of coordinates  to the  coordinate (the lists storing considered ranges for  and  are given: range_x and range_y, respectively).

In [ ]:
range_x = [0.0, 0.2, 0.4, 0.6, 0.8, 1.0, 1.2, 1.4, 1.6, 1.8, 2.0]
range_y = [0.0, 0.2, 0.4, 0.6, 0.8, 1.0, 1.2, 1.4, 1.6, 1.8, 2.0]

circ_parab = dict()

for x in range_x:
    for y in range_y:        
        # Calculate the value for z
        z = x**2 + y**2
        # Create a new key for the dictionary
        key = (x,y)
        # Create a new key-value pair      
        circ_parab[key] = z
circ_parab

# String indexing and concatenation
You are presented with one of the earliest known encryption techniques - Caesar cipher. It is based on a simple shift of each letter in a message by a certain number of positions down the given alphabet. For example, given the English alphabet, a shift of 1 for 'xyz' would imply 'yza' and vice versa in case of decryption. Notice that 'z' becomes 'a' in this case.

Thus, encryption/decryption requires two arguments: text and an integer key denoting the shift (key = 1 for the example above).

Your task is to create an encryption function given the English alphabet stored in the alphabet string.

In [41]:
alphabet='abcdefghijklmnopqrstuvwxyz'
def encrypt(text, key):
  
    encrypted_text = ''

    # Fill in the blanks to create an encrypted text
    for char in text.lower():
        if char==' ':
          encrypted_text = encrypted_text + ' '
        else:

          idx = (alphabet.index(char) + key) % len(alphabet)
          encrypted_text = encrypted_text + alphabet[idx]

    return encrypted_text

# Check the encryption function with the shift equals to 10
print(encrypt("abcd efg", 1))

bcde fgh

In [42]:
alphabet='abcdefghijklmnopqrstuvwxyz'
def dycrypt(text, key):
  
    dycrypted_text = ''

    # Fill in the blanks to create an encrypted text
    for char in text.lower():
        if char==' ':
          dycrypted_text = dycrypted_text + ' '
        else:

          idx = (alphabet.index(char) - key) % len(alphabet)
          dycrypted_text =dycrypted_text + alphabet[idx]

    return dycrypted_text

# Check the encryption function with the shift equals to 10
print(dycrypt("bcde fgh", 1))

abcd efg

In [36]:
4%6

4

In [57]:
def bubble_sort(nums):
    # We set swapped to True so the loop looks runs at least once
    swapped = True
    while swapped:
        swapped = False
        for i in range(len(nums) - 1):
            if nums[i] > nums[i + 1]:
                # Swap the elements
                nums[i], nums[i + 1] = nums[i + 1], nums[i]
                # Set the flag to True so we'll loop again
                swapped = True


# Verify it works
random_list_of_nums = [5, 2, 1, 8, 4]
bubble_sort(random_list_of_nums)
print(random_list_of_nums)

[1, 2, 4, 5, 8]

# Operations on strings
You are given the variable text storing the following string 'StRing ObJeCts haVe mANy inTEResting pROPerTies'.

Your task is to modify this string in such a way that would result in 'string OBJECTS have MANY interesting PROPERTIES' (every other word in text is lowercased and uppercased, otherwise). You will obtain this result in three steps.

In [56]:
text = 'StRing ObJeCts haVe mANy inTEResting pROPerTies'
# Create a word list from the string stored in 'text'
word_list = text.split()

# Make every other word lowercased; otherwise - uppercased
for i in range(len(word_list)):
    if (i + 1) % 2 == 0:
        word_list[i] = word_list[i].upper()
    else:
        word_list[i] = word_list[i].lower()

print(word_list)

# Join the words back and form a new string
new_text = ' '.join(word_list)
print(new_text)

['string', 'OBJECTS', 'have', 'MANY', 'interesting', 'PROPERTIES']
string OBJECTS have MANY interesting PROPERTIES

In [45]:
text = 'salman asdas'

for char in text.lower():
  print(char)

s
a
l
m
a
n

a
s
d
a
s

In [55]:
' ' .join(text.split())

'salman asdas'

# Fixing string errors in a DataFrame
You are given the heroes dataset containing the information on different comic book heroes. However, you'll need to make some refinements in order to use this dataset further.

Comparing Eye color, Hair color, and Skin color columns, you can see that strings in the Hair color columns are capitalized, whereas in other two the strings are lowercased.

Moreover, some rows in the Gender column contain a spelling error (Fmale instead of Female).

Your task is to make the strings in the Hair color column lowercased and to fix the spelling error in the Gender column.

In [59]:
heroes = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/Data_Camp/Python_Interview/Chapter_01/heroes_information.csv')
heroes.head()

   Unnamed: 0         name Gender  ... Skin color Alignment Weight
0           0       A-Bomb   Male  ...          -      good  441.0
1           1   Abe Sapien   Male  ...       blue      good   65.0
2           2     Abin Sur   Male  ...        red      good   90.0
3           3  Abomination   Male  ...          -       bad  441.0
4           4      Abraxas   Male  ...          -       bad  -99.0

[5 rows x 11 columns]

In [60]:
# Make all the values in the 'Hair color' column lowercased
heroes['Hair color'] = heroes['Hair color'].str.lower()
  
# Check the values in the 'Hair color' column
print(heroes['Hair color'].value_counts())

-                   172
black               161
blond               102
brown                87
no hair              75
red                  51
white                23
auburn               13
green                 8
strawberry blond      7
grey                  5
purple                5
brown / white         4
silver                4
blue                  3
yellow                2
orange                2
magenta               1
red / orange          1
pink                  1
orange / white        1
red / grey            1
brown / black         1
black / blue          1
gold                  1
indigo                1
red / white           1
Name: Hair color, dtype: int64

In [61]:
# Substitute 'Fmale' with 'Female' in the 'Gender' column
heroes['Gender'] = heroes['Gender'].replace('Fmale','Female')

# Check if there is no occurences of 'Fmale'
print(heroes['Gender'].value_counts())

Male      505
Female    200
-          29
Name: Gender, dtype: int64