<a href="https://colab.research.google.com/github/mssabahi/Python/blob/master/ch_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Positional arguments of variable size


Let's practice positional arguments of variable size. Your task is to define the function sort_types(). It takes a variable number of positional arguments and checks if each argument is a number or a string. The checked item is inserted afterwards either in the nums or strings list. Eventually, the function returns a tuple containing these lists.

Use the Python's built-in isinstance() function to check if an object is of a certain type (e.g. isinstance(1, int) returns True) or one of the types (e.g. isinstance(5.65, (int, str)) returns False).

Types to use in this task are int, float, and str.

In [1]:
# Define the function with an arbitrary number of arguments
def sort_types(*args):
    nums, strings = [], []    
    for arg in args:
        # Check if 'arg' is a number and add it to 'nums'
        if isinstance(arg, (int,float)):
            nums.append(arg)
        # Check if 'arg' is a string and add it to 'strings'
        elif isinstance(arg, str):
            strings.append(arg)
    
    return (nums, strings)
            
print(sort_types(1.57, 'car', 'hat', 4, 5, 'tree', 0.89))

([1.57, 4, 5, 0.89], ['car', 'hat', 'tree'])

In [2]:
def sort_types2(lst):
    nums, strings = [], []    
    for arg in lst:
        # Check if 'arg' is a number and add it to 'nums'
        if isinstance(arg, (int,float)):
            nums.append(arg)
        # Check if 'arg' is a string and add it to 'strings'
        elif isinstance(arg, str):
            strings.append(arg)
    
    return (nums, strings)
            
print(sort_types2( [1.57, 'car', 'hat', 4, 5, 'tree', 0.89] ) )

([1.57, 4, 5, 0.89], ['car', 'hat', 'tree'])

In [3]:
def lssum(*args):
  sum = 0
  for i in args:
    sum += i
  return sum

lssum(1,2,3)

6

# Keyword arguments of variable size

Now let's move to keyword arguments of variable size! Your task is to define the function key_types(). It should take a variable number of keyword arguments and return a new dictionary: the keys are unique object types of arguments passed to the key_types() function and the associated values represent lists. Each list should contain argument names that follow the type defined as a key (e.g. calling the key_types(kwarg1='a', kwarg2='b', kwarg3=1) results in {<class 'int'>: ['kwarg3'], <class 'str'>: ['kwarg1', 'kwarg2']}).

To retrieve the type of an object, you need to use the type() function (e.g. type(1) is int).

In [4]:
# Define the function with an arbitrary number of arguments
def key_types(**kwargs):
    dict_type = dict()
    # Iterate over key value pairs
    for key, value in kwargs.items():
        # Update a list associated with a key
        if type(value) in dict_type:
            dict_type[type(value)].append(key)
        else:
            dict_type[type(value)] = [key]
            
    return dict_type
  
res = key_types(a=1, b=2, c=(1, 2), d=3.1, e=4.2)
print(res)

{<class 'int'>: ['a', 'b'], <class 'tuple'>: ['c'], <class 'float'>: ['d', 'e']}

In [5]:
def test(**kwargs):
  for i in kwargs:
    print(i)

test(a=1)

a

In [6]:
def key_types(**kwargs):
  for key, value in kwargs.items():
    print(key, type(value) )

In [7]:
key_types(a=1, b=2, c=(1, 2), d=3.1, e=4.2)

a <class 'int'>
b <class 'int'>
c <class 'tuple'>
d <class 'float'>
e <class 'float'>

#Combining argument types

Now you'll try to combine different argument types. Your task is to define the sort_all_types() function. It takes positional and keyword arguments of variable size, finds all the numbers and strings contained within them, and concatenates type-wise the results. Use the sort_types() function you defined before (available in the workspace). It takes a positional argument of variable size and returns a tuple containing a list of numbers and a list of strings (type sort_types? to get additional help).

Keep in mind that keyword arguments of variable size essentially represent a dictionary and the sort_types() function requires that you pass only its values.

Tip: To call the sort_types() function correctly, you'd have to recall another usage of the * symbol.

In [8]:
# Define the arguments passed to the function
def sort_all_types(*args, **kwargs):

    # Find all the numbers and strings in the 1st argument
    nums1, strings1 = sort_types(*args)
    
    # Find all the numbers and strings in the 2nd argument
    nums2, strings2 = sort_types(*kwargs.values())
    
    return (nums1 + nums2, strings1 + strings2)
  
res = sort_all_types(
	1, 2.0, 'dog', 5.1, num1 = 0.0, num2 = 5, str1 = 'cat'
)
print(res)

([1, 2.0, 5.1, 0.0, 5], ['dog', 'cat'])

# Define lambda expressions
Let's write some lambda expressions! You will be given three tasks: each will require you to define a lambda expression taking some values as arguments and using them to calculate a specific result.

In [9]:
# Take x and return x squared if x > 0 and 0, otherwise
squared_no_negatives = lambda x: x**2 if x>0 else 0
print(squared_no_negatives(2.0))
print(squared_no_negatives(-1))

4.0
0

In [10]:
def even1(num):
  if num%2==0:
    return True
  else:
    return False
my_ls = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(even1, my_ls))

[2, 4, 6, 8, 10]

In [11]:
def even2(num):
  if num%2==0:
    return num
  else:
    return 'nan'

my_ls = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ls = list(map(even2, my_ls))

try:
    while True:
        ls.remove('nan')
except ValueError:
    pass
ls

[2, 4, 6, 8, 10]

In [12]:
list(map(lambda x: x%2==0, my_ls))

[False, True, False, True, False, True, False, True, False, True]

In [13]:
list( filter(lambda x: x%2==0, my_ls) )

[2, 4, 6, 8, 10]

In [14]:
[x for x in my_ls if x%2==0]

[2, 4, 6, 8, 10]

In [15]:
# Take a list of integers nums and leave only even numbers
get_even = lambda nums: [n for n in nums if n%2==0]
print(get_even([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

[2, 4, 6, 8, 10]

In [16]:
def com_str(s1, s2):
  return list(set(s1).intersection(set(s2)))
com_str('pasta', 'pizza')

['a', 'p']

In [17]:
# Take strings s1, s2 and list their common characters
common_chars = lambda s1, s2: list(set(s1).intersection(set(s2)))
print(common_chars('pasta', 'pizza'))

['a', 'p']

Converting functions to lambda expressions
Convert these three normally defined functions into lambda expressions:

# Returns a bigger of the two numbers


```
def func1(x, y):
    if x >= y:
        return x

    return y
```

# Returns a dictionary counting charaters in a string

```
def func2(s):
    d = dict()
    for c in set(s):
        d[c] = s.count(c)

    return d
```

# Returns a squared root of a sum of squared numbers
```
def func3(*nums):
    squared_nums = [n**2 for n in nums]
    sum_squared_nums = sum(squared_nums)

    return math.sqrt(sum_squared_nums)
```

In [18]:
# Convert func1() to a lambda expression
def func1(x, y):
    if x >= y:
        return x

    return y

lambda1 = lambda x,y: x if x>y else y
print(str(func1(5, 4)) + ', ' + str(lambda1(5, 4)))
print(str(func1(4, 5)) + ', ' + str(lambda1(4, 5)))

5, 5
5, 5

In [19]:
# Returns a dictionary counting charaters in a string
def func2(s):
    d = dict()
    for c in set(s):
        d[c] = s.count(c)

    return d

func2('tesst')

{'e': 1, 's': 2, 't': 2}

In [20]:
# Convert func2() to a lambda expression
lambda2 = lambda s: dict( [(c,s.count(c)) for c in set(s)] )
print(func2('DataCamp'))
print(lambda2('DataCamp'))

{'t': 1, 'm': 1, 'p': 1, 'a': 3, 'D': 1, 'C': 1}
{'t': 1, 'm': 1, 'p': 1, 'a': 3, 'D': 1, 'C': 1}

In [21]:
dict([('x',2)])

{'x': 2}

In [22]:
from scipy import math
def func3(*nums):
    squared_nums = [n**2 for n in nums]
    sum_squared_nums = sum(squared_nums)

    return math.sqrt(sum_squared_nums)

func3(2,2,4)

4.898979485566356

In [23]:
# Convert func3() to a lambda expression
lambda3 = lambda *nums: math.sqrt(sum([n**2 for n in nums]))
print(str(func3(3, 4)) + ', ' + str(lambda3(3, 4)))
print(str(func3(3, 4, 5)) + ', ' + str(lambda3(3, 4, 5)))

5.0, 5.0
7.0710678118654755, 7.0710678118654755

In [24]:
x = [2,2,4]
sum([i**2 for i in x])

24

In [25]:
f = lambda *x: math.sqrt( sum([i**2 for i in x]) )
f(3,4,6)

7.810249675906654

In [26]:
f = lambda x: math.sqrt( sum([i**2 for i in x]) )
f([3,4,6])

7.810249675906654

In [27]:
lambda x: math.sqrt( sum([i**2 for i in x]) )

# Using a lambda expression as an argument

Let's pass lambda expressions as arguments to functions. You will deal with the list .sort() method. By default, it sorts numbers in increasing order. Characters and strings are sorted alphabetically. The method can be defined as .sort(key=function). Here, key defines a mapping of each item in the considered list to a sortable object (e.g. a number or a character). Thus, the items in a list are sorted the way sortable objects are.

Your task is to define different ways to sort the list words using the key argument with a lambda expression.

In [28]:
words = ['car', 'truck', 'interview', 'tequila', 'time', 'cell', 'chicken', 'leader', 'government',
         'transaction', 'country', 'bag', 'call', 'area', 'service', 'phone', 'advantage', 'job',
         'shape', 'item', 'atmosphere', 'height', 'creature', 'plane', 'unit']

words.sort()
print(words)

['advantage', 'area', 'atmosphere', 'bag', 'call', 'car', 'cell', 'chicken', 'country', 'creature', 'government', 'height', 'interview', 'item', 'job', 'leader', 'phone', 'plane', 'service', 'shape', 'tequila', 'time', 'transaction', 'truck', 'unit']

In [29]:
words = ['car', 'truck', 'interview', 'tequila', 'time', 'cell', 'chicken', 'leader', 'government',
         'transaction', 'country', 'bag', 'call', 'area', 'service', 'phone', 'advantage', 'job',
         'shape', 'item', 'atmosphere', 'height', 'creature', 'plane', 'unit']


# Sort words by the string length
words.sort(key=lambda s: len(s), reverse=False ) # reverse=False; from the smallest to the largest
print(words)

['car', 'bag', 'job', 'time', 'cell', 'call', 'area', 'item', 'unit', 'truck', 'phone', 'shape', 'plane', 'leader', 'height', 'tequila', 'chicken', 'country', 'service', 'creature', 'interview', 'advantage', 'government', 'atmosphere', 'transaction']

In [30]:
words = ['car', 'truck', 'interview', 'tequila', 'time', 'cell', 'chicken', 'leader', 'government',
         'transaction', 'country', 'bag', 'call', 'area', 'service', 'phone', 'advantage', 'job',
         'shape', 'item', 'atmosphere', 'height', 'creature', 'plane', 'unit']


# Sort words by the last character in a string
words.sort(key=lambda s: s[-1])
print(words)

['tequila', 'area', 'job', 'time', 'service', 'phone', 'advantage', 'shape', 'atmosphere', 'creature', 'plane', 'bag', 'truck', 'cell', 'call', 'item', 'chicken', 'transaction', 'car', 'leader', 'government', 'height', 'unit', 'interview', 'country']

# I have a queswtion here

In [31]:
words = ['car', 'truck', 'interview', 'tequila', 'time', 'cell', 'chicken', 'leader', 'government',
         'transaction', 'country', 'bag', 'call', 'area', 'service', 'phone', 'advantage', 'job',
         'shape', 'item', 'atmosphere', 'height', 'creature', 'plane', 'unit']


# Sort words by the total amount of certain characters; Sort words by the total amount of characters a, b, and c (e.g., the word 'cabana' has 3 a's, 1 b, and 1 c; in total, 5)
words.sort(key=lambda s: sum([s.count('a'), s.count('b'), s.count('c')]  ), reverse=False )
print(words)

['interview', 'time', 'government', 'phone', 'item', 'height', 'unit', 'truck', 'tequila', 'cell', 'leader', 'country', 'service', 'job', 'shape', 'atmosphere', 'plane', 'car', 'chicken', 'bag', 'call', 'area', 'creature', 'transaction', 'advantage']

# The map() function

Do you remember how zip() works? It merges given Iterables so that items with the same index fall into the same tuple. Moreover, the output is restricted by the shortest Iterable.

Your task is to define your own my_zip() function with *args depicting a variable number of Iterables, e.g. lists, strings, tuples etc. Rather than a zip object, my_zip() should already return a list of tuples.

Comment: args should be checked whether they contain Iterables first. But we omit it for simplicity.

Retrieve Iterable lengths from args using map() and find the minimal length.

Within the loop, create the mapping using map() to retrieve the elements in args with the same index i.

Convert the mapping to a tuple and append it to the tuple_list.

In [32]:
stng = ['Hello', 'Good']
# [(x, len(x) ) for x in stng]

list(map(len, stng)),

([5, 4],)

In [33]:
def my_zip(*args):
    
    # Retrieve Iterable lengths and find the minimal length
    lengths = list(map(len, args))
    min_length = min(lengths)

    tuple_list = []
    for i in range(0, min_length):
        # Map the elements in args with the same index i
        mapping = map(lambda x: x[i], args)
        # Convert the mapping and append it to tuple_list
        tuple_list.append(tuple(mapping))
        
    return tuple_list

result = my_zip([1, 2, 3], ['a', 'b', 'c', 'd'], 'DataCamp')
print(result)

[(1, 'a', 'D'), (2, 'b', 'a'), (3, 'c', 't')]

In [34]:
args = [1, 2, 3], ['a', 'b', 'c', 'd'], 'DataCamp'
tuple(map(lambda x: x[0], args))

(1, 'a', 'D')

In [35]:
def my_zip(*args):
    
    # Retrieve Iterable lengths and find the minimal length
    lengths = list(map(len, args)) # short answer!!
    min_length = min(lengths)

    tuple_list = []
    for i in range(0, min_length):
        # Map the elements in args with the same index i
        mapping = map(lambda x: x[i], args)
        # Convert the mapping and append it to tuple_list
        tuple_list.append(tuple(mapping))
        
    return tuple_list

result = my_zip([1, 2, 3], ['a', 'b', 'c', 'd'], 'DataCamp')
print(result)

[(1, 'a', 'D'), (2, 'b', 'a'), (3, 'c', 't')]

# The filter() function
Let's do some filtering! You will be given three corresponding tasks you have to complete. Use lambda expressions! And remember: the filter() function keeps all the elements that are mapped to the True value.

The variables string and spells are available in your workspace.

In [36]:
nums = list(range(0,101))
# Exclude all the numbers from nums divisible by 3 or 5
print(nums)
fnums = filter(lambda x: (x%3!=0 and x%5!=0), nums)
print(list(fnums))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49, 52, 53, 56, 58, 59, 61, 62, 64, 67, 68, 71, 73, 74, 76, 77, 79, 82, 83, 86, 88, 89, 91, 92, 94, 97, 98]

In [37]:
string = 'Ordinary Least Squares'
print(string)
vowels = 'aeiou'
fstring = filter(lambda x: x not in vowels, string.lower())
print(''.join(fstring))

Ordinary Least Squares
rdnry lst sqrs

In [38]:
# Return the string without its vowels
print(string)
vowels = 'AEIOUaeiou'
fstring = filter(lambda x: x not in vowels, string)
print(''.join(fstring))

Ordinary Least Squares
rdnry Lst Sqrs

In [39]:
list(fstring)

[]

In [40]:
# Filter all the spells in spells with more than two 'a' characters.
spells = ['riddikulus', 'obliviate', 'sectumsempra', 'avada kedavra', 'alohomora', 'lumos', 'expelliarmus', 'expecto patronum']
# Filter all the spells in spells with more than two 'a's
print(spells)
fspells = filter(lambda x: x.count('a') > 2, spells)
print(list(fspells))

['riddikulus', 'obliviate', 'sectumsempra', 'avada kedavra', 'alohomora', 'lumos', 'expelliarmus', 'expecto patronum']
['avada kedavra']

# The reduce() function
Now, it is time for some reduction! As before you'll be given three tasks to complete. Use lambda expressions!

The necessary functions from the functools module are already imported for you.

In [41]:
from functools import reduce
# Reverse a string using reduce()
string = 'DataCamp'
inv_string = reduce(lambda x, y: y + x, string)
print('Inverted string = ' + inv_string)

Inverted string = pmaCataD

In [42]:
# Find common items shared among all the sets in sets
sets = [{1, 4, 8, 9}, {2, 4, 6, 9, 10, 8}, {9, 0, 1, 2, 4}]
common_items = reduce(lambda x, y: x.intersection(y), sets)
print('common items = ' + str(common_items))

common items = {9, 4}

In [43]:
sets = [{1, 4, 8, 9}, {2, 4, 6, 9, 10, 8}, {9, 0, 1, 2, 4}]
ls = sets[0]
for i in range(len(sets)):
  ls = ls.intersection(sets[i])
ls

{4, 9}

In [44]:
# Convert a number sequence into a single number (e.g. [1, 2, 3]  123).
# Convert a number sequence into a single number
nums = [5, 6, 0, 1]
num = reduce(lambda x,y: str(x)+str(y), nums)
print(str(nums) + ' is converted to ' + str(num))

[5, 6, 0, 1] is converted to 5601

# Calculate the number of function calls
Let's consider a classic example of recursion – the Fibonacci sequence, represented by non-negative integers starting from 0 with each element  equals the sum of the preceding two: 0, 1, 1, 2, 3, 5, 8, 13, 21, .... You are given a function that returns a tuple with the -th element of the sequence and the amount of calls to fib() used:

In [45]:
def fib(n):

  if n < 2:
    return (n, 1)

  fib1 = fib(n-1)
  fib2 = fib(n-2)

  return (fib1[0] + fib2[0], fib1[1] + fib2[1] + 1)

In [46]:
def fibnew(n):

  if n < 2:
    return n

  return (fibnew(n-1) + fibnew(n-2) )

ls = []
for i in range(1,8):
  ls.append(fibnew(i))
ls

[1, 1, 2, 3, 5, 8, 13]

In [47]:
# How many calls to fib() are needed to calculate the 15th and 20th elements of the sequence?

In [48]:
fib(15)

(610, 1973)

# Calculate an average value

In [49]:
# Calculate an average value of the sequence of numbers
def average(nums):
  
    # Base case
    if len(nums) == 1:  
        return nums[0]
    
    # Recursive call
    n = len(nums)
    return (nums[0] + (n - 1) * average(nums[1:])) / n  

# Testing the function
print(average([1, 2, 3, 4, 5]))

3.0

# Approximate Pi with recursion
The number  can be computed by the following formula:

In [50]:
# Write an expression to get the k-th element of the series 
get_elmnt = lambda k: ((-1)**k)/(2*k+1)

def calc_pi(n):
    curr_elmnt = get_elmnt(n)
    
    # Define the base case 
    if n == 0:
    	return 4
      
    # Make the recursive call
    return 4 * curr_elmnt + calc_pi(n-1)
  
# Compare the approximated Pi value to the theoretical one
print("approx = {}, theor = {}".format(calc_pi(500), math.pi))

approx = 3.143588659585789, theor = 3.141592653589793

In [51]:
def my_zip(*args):

  for i in range(0, 3):
          # Map the elements in args with the same index i
          mapping = list(map(lambda x: x[i], args))

          print(tuple(mapping) )

In [52]:
dic = {'a':[1], 'b':2, 'c':(1,2)}
dic['a'].append(32) # append to the key list
dic

{'a': [1, 32], 'b': 2, 'c': (1, 2)}